*.pro.user
*.ui.autosave
compile_commands.json
build-*/
*.autosave
.DS_Store
Engine/WorkingDir/engine
Engine/WorkingDir/engine.dSYM
Engine/WorkingDir/imgui.ini
Engine/WorkingDir/*.dll
Engine/WorkingDir/*.exe
Engine/tmp
.*
tmp/
x64/
Debug/
Release/
